*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
}

.testing-asdf {
  color: red;
}

.card {
  display: grid;
  gap: 1rem;
}

.hejsan-nuda-cards-2 {
  color: green;
}

.even-columns {
  display: grid;
}

.grid-auto-fit {
  display: grid;
}

.testing-grid-2 {
  color: red;
}
